body {
    font-family: 'Arial', sans-serif;
  }
  
  .project-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .project {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .project-text {
    flex-basis: 60%;
  }
  
  .project-title {
    font-size: 1.5em;
    color: #333;
  }
  
  .project-description {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .project-literature h3 {
    font-size: 1.2em;
    color: #333;
  }
  
  .project-literature ul {
    list-style-type: none;
    padding: 0;
  }
  
  .project-literature li a {
    color: #0066cc;
    text-decoration: none;
  }
  
  .project-literature li a:hover {
    text-decoration: underline;
  }
  
  .project-image {
    flex-basis: 40%;
    padding-left: 20px; /* Add some space between the text and image */
  }
  
  .project-image img {
    width: 100%;
    height: auto;
    max-width: 400px; /* Set a max-width if necessary */
  }
  